@use "../utils/mixin";

.cart-btn-wrapper {
  position: relative;

  & .__cart-btn {
    position: relative;
    color: white;
    cursor: pointer;
  }

  & .quantities {
    cursor: pointer;
    font-size: var(--fs-400);
    font-weight: var(--fw-bold);
    color: var(--clr-secondary-light);
    position: absolute;
    right: -0.35rem;
    top: -0.2rem;
    background-color: var(--clr-primary-base);
    width: min-content;
    height: min-content;
  }

  &:hover .shopping-cart {
    scale: 1 1;
  }
}

.shopping-cart {
  display: grid;
  place-items: center;
  gap: var(--gap, 1rem);
  width: clamp(12rem, 15vw + 5rem, 20rem);
  height: max-content;
  max-height: 80vh;
  right: 0;
  position: absolute;
  background-color: white;
  scale: 1 0;
  transition: scale 100ms linear;
  transform-origin: top;
  overflow-y: scroll;
}

.single-cartItem {
  & > img {
    max-width: 8rem;
    aspect-ratio: 1;
    width: 100%;
  }
}
.shopping-cart h1 {
  color: var(--clr-accent-dark);
  text-align: center;
}

.quantity-control {
  --gap: 0.875rem;
  justify-content: center;
  align-items: center;
}

.cartItem-info > button {
  width: 5rem;
  height: 2rem;
}

.single-cartItem > p {
  width: 5rem;
  text-align: right;
}
