@use "../utils/mixin";

.cart-btn-wrapper {
  position: relative;
  cursor: pointer;

  & .__cart-btn {
    position: relative;
    border: 0;
    background-color: transparent;
    color: white;
    padding: 0;
    cursor: pointer;
  }

  & .quantities {
    font-size: var(--fs-400);
    font-weight: var(--fw-bold);
    color: var(--clr-secondary-light);
    position: absolute;
    right: -0.35rem;
    top: -0.2rem;
    background-color: var(--clr-primary-base);
    width: min-content;
    height: min-content;
  }

  &:hover .shopping-cart {
    scale: 1 1;
  }
}

.shopping-cart {
  display: flex;
  flex-direction: column;
  gap: var(--gap, 1rem);
  width: clamp(20rem, 20vw + 5rem, 30rem);
  height: max-content;
  right: 0;
  position: absolute;
  background-color: white;
  scale: 1 0;
  transition: scale 100ms linear;
  transform-origin: top;
}

.single-cartItem > img {
  width: 10rem;
  height: 10rem;
}

.shopping-cart h1 {
  color: var(--clr-accent-dark);
  text-align: center;
}

.cartItem-info {
  display: grid;
  place-items: center;
  width: 50%;
  margin: 0 auto;
}

.cartItem-info > button {
  width: 5rem;
  height: 2rem;
}

.single-cartItem > p {
  width: 5rem;
  text-align: right;
}
