@use "../utils/mixin";

.shopping-cart {
  display: flex;
  flex-direction: column;
  gap: var(--gap, 1rem);
  width: 60%;
  max-width: 30rem;
  position: fixed;
  top: 4rem;
  bottom: 0;
  right: 0;
  background-color: white;
}

.single-cartItem > img {
  width: 10rem;
  height: 10rem;
}

.cart_background {
  position: fixed;
  inset: 4rem 0 0 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.shopping-cart h1 {
  color: var(--clr-accent-dark);
  text-align: center;
}

.hidden-cart {
  display: none;
}

.cartItem-info {
  display: grid;
  place-items: center;
  width: 50%;
  margin: 0 auto;
}

.cartItem-info > button {
  width: 5rem;
  height: 2rem;
}

.single-cartItem > p {
  width: 5rem;
  text-align: right;
}

@include mixin.mq(small, max-width) {
  .shopping-cart {
    width: 100%;
  }
  .cart_background {
    display: none;
  }
}
