.header {
  height: min-content;
  background-color: var(--clr-primary-base);
  position: sticky;
  top: 0;
  z-index: 99;
  margin-bottom: 2rem;
}

.single-cartItem > img {
  width: 8rem;
  height: 10rem;
}

.quantities-btns {
  width: 10rem;
}

.logo {
  font-family: var(--ff-accent);
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  font-size: 2rem;
  line-height: 1;
  cursor: pointer;
}
