.discountCard {
  display: grid;
  width: 20rem;
  height: 30rem;
  border: 1px solid hsla(0, 0%, 50%, 0.504);
  justify-content: space-between;
  background-color: white;
  padding: 1rem;

  & .__checkLink {
    margin-inline: auto;
    align-self: center;
    width: 10rem;
    text-align: center;
    padding: 1rem 2rem;
    background-color: hsl(0, 0%, 90%);
  }
}

.percentage-off {
  --gap: 1rem;
  height: min-content;
  white-space: nowrap;

  & p {
    background-color: var(--clr-accent-light);
    color: white;
    padding-inline: 1rem;
  }

  & span {
    text-transform: uppercase;
    background-color: white;
    font-weight: var(--fw-bold);
    color: var(--clr-accent-light);
  }
}

.countdown {
  --gap: 1rem;
  width: min-content;
  white-space: nowrap;
  background-color: var(--clr-accent-light);
  color: white;
  margin: 2rem auto;
  padding-inline: 1rem;
}
