.checkout input {
  padding: 0.25rem 0.5rem;
  border: 0;
}

.checkout-header {
  width: 100%;
  background: linear-gradient(white 30%, rgb(192, 192, 192));
  text-align: center;
  box-shadow: 0px 2px 5px rgb(192, 192, 192);
}

.checkout-container {
  display: grid;
  padding-inline: 2rem;
  margin-block: 2rem;
  row-gap: var(--row-gap, 2rem);
  /* place-items: start center; */
}

.checkout-form {
  max-width: 35rem;
}

.input-wrapper {
  background-color: rgb(229, 230, 231);
  padding: 1rem;
}

.checkout-btn {
  max-width: 35rem;
  text-transform: uppercase;
  padding-block: 0.5rem;
  letter-spacing: 2px;
}

.order-summary {
  background-color: rgb(229, 230, 231);
  padding: 1rem;
  max-width: 35rem;
  height: max-content;
}

.coupon-btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.order-items {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.order-item {
  background-color: white;
  padding: 0.15rem;
}

.order-item-img {
  width: 3rem;
  aspect-ratio: 1;
  object-fit: contain;
}

.checkout-container .flex-group {
  --gap: 0.5rem;
}

.checkout-container .flex-group > div {
  flex-basis: 100%;
}

.checkout-form :where(div:has(> label, > input)) {
  display: grid;
}

.order-summary > .flex-group {
  justify-content: space-between;
}

@media (max-width: 30rem) {
  .checkout-form .flex-group {
    flex-direction: column;
  }
}

@media (min-width: 58em) {
  .checkout-container {
    --row-gap: 1rem;
    grid-template-columns: minmax(1rem, 1fr) minmax(0, 50rem) minmax(0, 40rem) minmax(
        1rem,
        1fr
      );
  }

  .checkout-btn {
    grid-column: 2;
  }

  .checkout-form {
    grid-column: 2;
  }

  .order-summary {
    grid-column: 3;
    padding-inline: 1rem;
    justify-self: center;
  }
}

/* Success */
.confirmation-header,
.confirmation-detail {
  margin-inline: auto;
  max-width: 40rem;
  padding: 2rem;
  border-bottom: 2px solid rgb(175, 175, 175);
}

.confirmation-detail > div {
  text-align: start;
}
